<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/Hello.css' />

</head>
<body class="bodyStyle">


<div class="Header">
    <img id="subHeader" src="/images/logoUpdated.png">
    <p id="subHeader2">Let us take you to an amazing tour</p>

    <div id="menu">
        <ul>
            <li><a href="/"  >Home</a></li>
            <div class="dropdown">
                <li><a>Countries</a>
                    <ul id="overFlow">
                        <%var countires= req.session.countries;
                        for(var i=0;i<countires.length;i++){

                        %>
                        <li>
                            <a name="<%=countires[i].FlagImage%>"><%=countires[i].CountryName%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Cities</a>
                    <ul id="overFlow">
                        <%var Cities= req.session.Cities;
                        for(var i=0;i<Cities.length;i++){
                            if(i==5){
                                break;
                            }
                        %>
                        <li>
                            <a href="/TestUnity?link=<%=Cities[i].ImagePath%>&Type=Cities" name="<%=Cities[i].Name%>"><%=Cities[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
                </div>
                <div class="dropdown">
                    <li><a href="/TestUnity">Museums</a>
                        <ul id="overFlow">
                            <%var museums= req.session.museums;
                            for(var i=0;i<museums.length;i++){
                                if(i==4){
                                    break;
                                }
                            %>
                            <li>
                                <a href="/TestUnity?link=<%=museums[i].ImagePath%>&Type=Museums" name="<%=museums[i].Name%>"><%=museums[i].Name%></a>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                </div>

                <div class="dropdown">
                    <li><a>Buildings</a>
                        <ul id="overFlow">
                            <%var buildings= req.session.buildings;
                            for(var i=0;i<buildings.length;i++){

                            %>
                            <li>
                                <a href="/TestUnity?link=<%=buildings[i].ImagePath%>&Type=Buildings" name="<%=buildings[i].Name%>"><%=buildings[i].Name%></a>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                </div>
                <div class="dropdown">
                    <li><a>Others</a>
                        <ul id="overFlow">
                            <%var other= req.session.other;
                            for(var i=0;i<other.length;i++){

                            %>
                            <li>
                                <a href="/TestUnity?link=<%=other[i].ImagePath%>&Type=Other" name="<%=other[i].Name%>"><%=other[i].Name%></a>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                </div>
        </ul>

    </div>
    <header id="headerStyle">
        <p > Hello  </p>
        <p >Thank you for signing up with us</p>
        <div >
        <a  href="/UserProfile" >View Profile</a>
        <a  href="/Upload_Panorama">Upload Panorama</a>
        <a  href="/ViewPanorama">View Panorama</a>
        </div>
    </header>


     <br><br>
    <br><br>
    <br><br><br><br><br><br><br><br>





    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>