<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <a href="/Login">Login</a>
    <br>
    <br>
  <a href="/SignUp">Sign up</a>
    <a href="/Home.ejs"></a>
  <br>
  <br>
  <p><% for(var i=0;i<req.session.countries.length;i++){
      %>
    <%=req.session.countries[i].Name %>

    <%}%>
    <% for(var i=0;i<req.session.Cities.length;i++){
    %>
    <%=req.session.Cities[i].Name %>

    <%}%>
    <% for(var i=0;i<req.session.buildings.length;i++){
    %>
    <%=req.session.buildings[i].Name %>

    <%}%>
    </p>
  </body>
</html>
