<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <a href="/Login">Login</a>
    <br>
    <br>

  <br>
  <br>
  <p>
    <% for(var i=0;i<req.session.Cities.length;i++){
    %>
    <%=req.session.Cities[i].Name %>

    <%}%>
    <% for(var i=0;i<req.session.buildings.length;i++){
    %>
    <%=req.session.buildings[i].Name %>
    <a href="/ViewPanorama?link=<%=req.session.buildings[i].ImagePath%>&Type=Buildings">View</a>
    <%}%>
    </p>
  </body>
</html>
