<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | TsetBranch</title>
    <link rel="stylesheet" href="/stylesheets/viewPanorama.css">
    <link rel="shortcut icon" href="/TemplateData/favicon.ico" />
    <script src="/TemplateData/UnityProgress.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dreamcodes/social_icons/tsc_social_icons.css" />


</head>
<body class="bodyStyle" >
<div class="Header">
    <img id="subHeader" src="/images/logoUpdated.png">

    <div id="menu">
        <ul>
            <li><a href="/"  >Home</a></li>
            <div class="dropdown">
                <li><a>Countries</a>
                    <ul id="overFlow">
                        <%var countires= req.session.countries;
                        for(var i=0;i<countires.length;i++){

                        %>
                        <li>
                            <a name="<%=countires[i].FlagImage%>"><%=countires[i].CountryName%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Cities</a>
                    <ul id="overFlow">
                        <%var Cities= req.session.Cities;
                        for(var i=0;i<Cities.length;i++){
                            if(i==5){
                                break;
                            }
                        %>
                        <li>
                            <a href="/TestUnity?link=<%=Cities[i].ImagePath%>&Type=Cities" name="<%=Cities[i].Name%>"><%=Cities[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a href="/TestUnity">Museums</a>
                    <ul id="overFlow">
                        <%var museums= req.session.museums;
                        for(var i=0;i<museums.length;i++){
                            if(i==4){
                                break;
                            }
                        %>
                        <li>
                            <a href="/TestUnity?link=<%=museums[i].ImagePath%>&Type=Museums" name="<%=museums[i].Name%>"><%=museums[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>

            <div class="dropdown">
                <li><a>Buildings</a>
                    <ul id="overFlow">
                        <%var buildings= req.session.buildings;
                        for(var i=0;i<buildings.length;i++){

                        %>
                        <li>
                            <a href="/TestUnity?link=<%=buildings[i].ImagePath%>&Type=Buildings" name="<%=buildings[i].Name%>"><%=buildings[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Others</a>
                    <ul id="overFlow">
                        <%var other= req.session.other;
                        for(var i=0;i<other.length;i++){

                        %>
                        <li>
                            <a href="/TestUnity?link=<%=other[i].ImagePath%>&Type=Other" name="<%=other[i].Name%>"><%=other[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
        </ul>

    </div>
<div id="widCanvas" >

    <canvas  id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
    <br>
    <canvas id="bodyCanvas" width="398" height="339"></canvas>

</div>

<script type='text/javascript'>
    var Module = {
        TOTAL_MEMORY: 268435456,
        errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
        compatibilitycheck: null,
        dataUrl: "Release/Builds.data",
        codeUrl: "Release/Builds.js",
        memUrl: "Release/Builds.mem",
    };
</script>
<script src="/Release/UnityLoader.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/kinectControl/KinectSkyBox.js"></script>
    <form id="formStyle" action="/TestUnity?link=<%=req.query.link%>&Type=<%=req.query.Type%>" method="post">
    <input id="SignButton" type="submit" name="share" value="Share">
    </form>
    <form id="formStyle" action="/TestUnity?link=<%=req.query.link%>&Type=<%=req.query.Type%>" method="post">
    <input id="SignButton" type="submit" name="like" value="Like">
        </form>
    <div class="background">
        <div class="transbox">
            <div id="displayLine">
            <img class="circle" src="<%=req.session.Uploader.ImagePath%>">
            <div id="BoxText">

                    <% console.log(req.session.AlreadyFollowed+"KKLKLKLK");
                    if(req.session.AlreadyFollowed){%>
                    <form action="/TestUnity?link=<%=req.query.link%>&Type=<%=req.query.Type%>" method="post">
                        <input id="FollowButton" type="submit" name="like" value="Unfollow">
                    </form>
                    <%}else{%>
                    <form action="/TestUnity?link=<%=req.query.link%>&Type=<%=req.query.Type%>" method="post">
                    <input id="FollowButton" type="submit" name="like" value="Follow">
                    </form>
                    <%}%>
                <p id="UserInfo"><%=req.session.Uploader.FullName%>  is an active user
                    that was born in  <%=req.session.Uploader.BirthDate%>
                    and upload a frequent panoramas including this amazing one.
                </p>
                <a   href="facebook/<%=req.session.Uploader.FacebookAcc%>"><img id="widHigh" src="/images/facebook.png"></a>
                <a   href="flickr/<%=req.session.Uploader.FlickerAcc%>"><img id="widHigh" src="/images/flickr.png"></a>
                </div>
            </div>
            <p><%=req.session.Uploader.FullName%></p>
            </div>
    </div>
    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>
