<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/UplodPanorama.css' />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        readURL();
    </script>

</head>
<body class="bodyStyle">


<div class="Header">
    <img id="subHeader" src="/images/logoUpdated.png">
    <div id="subHeader2">
        <p>Let us take you to an amazing tour</p>
        <div id="displayLine">
            <img class="circle" src="<%=req.session.user.ImagePath%>">
            <p id="subHeader3"><%=req.session.user.FullName%></p>
        </div>
        </div>
    <div id="menu">
        <ul>
            <li><a href="/"  >Home</a></li>
            <div class="dropdown">
                <li><a>Countries</a>
                    <ul id="overFlow">
                        <%var countires= req.session.countries;
                        for(var i=0;i<countires.length;i++){

                        %>
                        <li>
                            <a name="<%=countires[i].FlagImage%>"><%=countires[i].CountryName%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Cities</a>
                    <ul id="overFlow">
                        <%var Cities= req.session.Cities;
                        for(var i=0;i<Cities.length;i++){
                            if(i==5){
                                break;
                            }
                        %>
                        <li>
                            <a href="/ViewPanorama?link=<%=Cities[i].ImagePath%>&Type=Cities" name="<%=Cities[i].Name%>"><%=Cities[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Museums</a>
                     <ul id="overFlow">
                         <%var museums= req.session.museums;
                         for(var i=0;i<museums.length;i++){
                             if(i==4){
                                 break;
                             }
                         %>
                         <li>
                             <a href="/ViewPanorama?link=<%=museums[i].ImagePath%>&Type=Museums" name="<%=museums[i].Name%>"><%=museums[i].Name%></a>
                         </li>
                         <%}%>
                     </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Buildings</a>
                    <ul id="overFlow">
                        <%var buildings= req.session.buildings;
                        for(var i=0;i<buildings.length;i++){

                        %>
                        <li>
                            <a href="/ViewPanorama?link=<%=buildings[i].ImagePath%>&Type=Buildings" name="<%=buildings[i].Name%>"><%=buildings[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Others</a>
                    <ul id="overFlow">
                        <%var other= req.session.other;
                        for(var i=0;i<other.length;i++){

                        %>
                        <li>
                            <a href="/ViewPanorama?link=<%=other[i].ImagePath%>&Type=Other" name="<%=other[i].Name%>"><%=other[i].Name%></a>
                        </li>
                        <%}%>
                    </ul>
                </li>
            </div>
        </ul>

    </div>
    <div id="BoxText">
  <!-- <form class="formStyle">

        <div class="upload">
        <input  name="Upload" type='file' onchange="readURL(this);" />
            <label for="Upload"><span>Upload</span></label>
        </div>
        <br>
        <img id="blah" src="#" alt="your image" />


    </form>-->
        <form enctype="multipart/form-data" class="formStyle" action="/UploadSuccess_Editor" method="post">
            <div class="upload">
                <input  name="image" type='file' onchange="readURL(this);" required />
                <label for="Upload"><span>Upload</span></label>
            </div>
        <br>
        <img id="blah" src="#" alt="your image" />

                <label>
                    <p id="paragraph">Countries</p>

                    <select id="Month" name="month" required="">
                        <option value="" disabled selected>Choose.. </option>
                        <%var countires= req.session.countries;
                        for(var i=0;i<countires.length;i++){

                        %>
                        <option  value="<%=countires[i].CountryName%>"><%=countires[i].CountryName%></option>
                        <%}%>


                    </select>
                </label>
                <br>


                <p id="paragraph"><input type="radio" value="Cities" name="TypeName" checked/>Cities</p>
                <p id="paragraph"><input type="radio" value="Museums" name="TypeName" />Museums</p>
                <p id="paragraph"><input type="radio" value="Buildings" name="TypeName" />Buildings</p>
                <p id="paragraph"><input type="radio" value="Others" name="TypeName" />Others</p>
                <p><label id="paragraph" for="name">Name*</label></p>
                <input id="InputStyle" name="Pname" placeholder=" City, Museum, Building or Other name.." required="" tabindex="1" type="text">
            <p><label id="paragraph" for="name">Description*</label></p>
            <input id="InputStyle1" name="Desc" placeholder=" Description about City, Museum, Building or Other.." required="" tabindex="1" type="text">
                <br><br><br><br><input id="inputStyle"  name="submit" value="Upload" type="submit">
            </form>
        <form class="formStyle">
            <img id="imgRight" src="/images/a7san.png">
        </form>

    </div>

    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>